<div class="row firstRow">
  <div class="col-md-5"></div>
  <div class="col-md-1 navlinks">Matchups</div>
  <div class="col-md-2 navlinks">Leage Standings</div>
  <div class="col-md-1 navlinks">Profile</div>
  <div class="col-md-1 login">Login</div>
  <div class="col-md-2"></div>
</div>

<div class="row firstRow">
  <div class="col-md-12"><h1 class="pagination-centered">This Week's Matchups<h1></div>
  <div class="col-md-12"><h4 class="pagination-centered"><%= @week.title %><h1></div>
</div>

<% @week.matchups.each do |matchup| %>
    <div class="row teams-row">
       <div class="col-md-1"></div> 
      <div class="col-md-4 team1"><a href="<%= create_pick_path(matchup.id, matchup.team(1).id) %>"><button type="button" class="btn btn-info mrbutton <%= matchup.user_status(current_user.id, matchup.team(1).id) %>"><%= matchup.team(1).name %> <span>(<%= matchup.team1_spread %>)</span></button></a></div>
      <div class="col-md-1"><h3 class="vs">VS</h3></div>
      <div class="col-md-4 team2"><a href="<%= create_pick_path(matchup.id, matchup.team(2).id) %>"><button type="button" class="btn btn-info mrbutton <%= matchup.user_status(current_user.id, matchup.team(2).id) %>"><%= matchup.team(2).name %> <span>(<%= matchup.team2_spread %>)</span></button></a></div>
     <div class="col-md-1"></div> 
    </div>
<% end -%>

<h1>Listing matchups</h1>

<% @weeks.each do |week| %>
  <%= week.title %>
    <% week.matchups.each do |matchup| %>
      <p>
        <% if matchup.game_over? %>
          <%= matchup.winner.name %>
          defeated
          <%= matchup.loser.name %>
        <% else %>
          <%= link_to matchup.team(1).name, create_pick_path(matchup.id, matchup.team(1).id) %>
          <%= matchup.team1_spread %>
          vs.
          <%= link_to matchup.team(2).name, create_pick_path(matchup.id, matchup.team(2).id) %>
          <%= matchup.team2_spread %>
        <% end -%>
      </p>
    <% end %>
<% end %>


