
<h1>Listing matchups</h1>

<% @weeks.each do |week| %>
  <%= week.title %>
    <% week.matchups.each do |matchup| %>
      <p>
        <% if matchup.game_over? %>
          <%= matchup.winner.name %>
          defeated
          <%= matchup.loser.name %>
        <% else %>
          <%= link_to matchup.team(1).name, create_pick_path(matchup.id, matchup.team(1).id) %>
          <%= matchup.team1_spread %>
          vs.
          <%= link_to matchup.team(2).name, create_pick_path(matchup.id, matchup.team(2).id) %>
          <%= matchup.team2_spread %>
        <% end -%>
      </p>
    <% end %>
<% end %>




<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h1>This Week's Matchups</h1></div>
  <div class="col-md-4"></div>
 
</div>

<div class="row teams-row">
   <div class="col-md-2"></div> 
  <div class="col-md-4 team1"><button type="button" class="btn btn-info mrbutton">Miami Heat</button><span>(-5)</span></div>
  <div class="col-md-1 vs"><h3>VS</h3></div>
  <div class="col-md-4 team2"><button type="button" class="btn btn-info mrbutton">Minnesota TimberWolves</button> <span>(+5)</span></div>
 <div class="col-md-2"></div> 
</div>


